target/
.mvn/
bin/
mvnw
mvnw.cmd
.idea/
.project
.classpath
.settings/
.springBeans
.factorypath
.sts4-cache/
*.log
.env
auth-service/src/main/resources/application.yml
airline-service/src/main/resources/application.yml
flight-service/src/main/resources/application.yml
booking-service/src/main/resources/application.yml
passenger-service/src/main/resources/application.yml
seat-service/src/main/resources/application.yml
payment-service/src/main/resources/application.yml
notification-service/src/main/resources/application.yml

/.metadata/
