target/
.mvn/
mvnw
mvnw.cmd
.idea/
.project
.classpath
.settings/
.springBeans
.sts4-cache/
*.log
.env
auth-service/src/main/resources/application.yml
airline-service/src/main/resources/application.yml

/.metadata/
